{{>jumbotron}}

<h3 class = "text-center">DLSU COMMUNITY FORUM GUIDELINES</h3>
<ul>
<kbd class="bg-gradient">NO SPAMMING / ADVERTISING / SELF-PROMOTION</kbd>
<li><p class="text-justify">The DLSU Community Forum defines spam as unsolicited advertisement for goods, services and/or other web sites, or posts with little, or completely unrelated content. Posting links to your site or product, or trying to self-promote your website, business or other material will be prohibited.</p></li>

<kbd class="bg-gradient">DO NOT ASK FOR ANY PERSONAL INFO OF PROFESSORS/USERS</kbd>
<li><p class="text-justify">No one is allowed to ask for personal information about the professors and the DLSU Community Forum will not provide any information about the users and the professor.The DLSU Community Forum will be monitoring the comments, reactions and experiences regarding your run-in with the chosen professor.</p></li>
 
<kbd class="bg-gradient">DO NOT POST ANY COPYRIGHT INFRINGING MATERIAL</kbd>
<li><p class="text-justify">Providing or asking unnecessary information on how to illegally obtain copyrighted materials is forbidden.</p></li>
 
<kbd class="bg-gradient">DO NOT POST INAPPROPRIATE POSTS, LINKS OR IMAGES</kbd>
<li><p class="text-justify">Any material which constitutes defamation, harassment, or abuse is strictly prohibited. Any material that is also sexually or otherwise obscene, racist, or otherwise overly discriminatory is not permitted on these forums. This includes user pictures. Use common sense while posting.</p></li>
 
<kbd class="bg-gradient">PLEASE BE RESPECTFUL TO PROFESSORS AND OTHER USERS</kbd>
<li><p class="text-justify">All posts should be appropriate and courteous. If caught or reported with inappropriate content, this user may be banned from posting or commenting.</p></li>
<li><p class="text-justify">However, you are not free to attack, degrade, insult, or otherwise belittle the professors or the quality of this community.</p></li>
 
<kbd class="bg-gradient">REMEMBER TO DOUBLE CHECK THE CHOSEN PROFESSOR</kbd>
<li><p class="text-justify">Make sure the professor and the course chosen are right to prevent confusion in viewing the reviews of other users.</p></li>

<kbd class="bg-gradient">THE ADMINISTRATORS HAS THE RIGHT TO EDIT, DELETE ANY REVIEW/COMMENT THAT CONTAINS INAPPROPRIATE CONTENT THAT WOULD BE HARMFUL TO THE COMMUNITY.</kbd>
 
<h3 class = "text-center">GENERAL DLSU COMMUNITY FORUM QUESTIONS</h3>
 
<kbd class="bg-gradient">AM I ALLOWED TO HAVE MORE THAN ONE ACCOUNT?</kbd>
<li><p class="text-justify">No, there is no reason why you should have more than one account at the forum because it requires you to login using your ID Number.</p></li>
 
<kbd class="bg-gradient">WHAT IF I GET BANNED?</kbd>
<li><p class="text-justify">If a user gets banned, the user will not be able to post a review or comment on a review however the user will still have access and can still view the website.</p></li>
 
<kbd class="bg-gradient">WHAT IF I BREAK A RULE?</kbd>
<li><p class="text-justify"> If you break a rule, then you will be given ONE warning, if a user continues to break a rule, the user will be automatically banned. A ban of your user account may either be temporary or permanent depending on the rule broken.</p></li>
 </ul>
